.offer {
    margin-top: 20px;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}

@keyframes move {

    0% {
        content: url("../images/offer1.webp");
    }

    20% {
        content: url("../images/offer2.webp");
    }

    40% {
        content: url("../images/offer3.jpg");
    }

    50% {
        content: url("../images/offer4.jpg");
    }

    60% {
        content: url("../images/offer5.jpg");
    }

    80% {
        content: url("../images/offer6.jpg");
    }
}