.box-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-slider > img {
    width: 100%;
}

.arrow {
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #eee;
}

.left {
    direction: ltr;
}

.left i {
    color: #FFC82C;
}

.book-logo {
    box-shadow: 0px 0px 5px #aaa;
    padding: 15px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: zoom-in;
}

.large-book {
    width: 90%;
}

.thumb {
    width: 60px;
    margin-top: 30px;
    border: 2px solid #00e;
    border-radius: 5px;
    padding: 5px 0px;
}

.note {
    background-color: #FFF9EB;
    margin: 20px 0px;
    padding: 10px 15px 10px 50px;
    border-right: 5px solid #FFD401;
}

.note a {
    color: #4456cc;
}

.note span {
    color: gray;
}

.book-info {
    margin-top: 50px;
    justify-content: space-around;
}

.book-info h2 {
    font-size: 30px;
}

.book-info > div {
    width: 30%;
}

.base {
    align-items: center;
}

.more a{
    font-size: 22px;
    color: #00d;
    font-weight: 500;
}

.book-price {
    color: #e00;
    font-size: 24px;
}

.book-price b {
    font-size: 32px;
    font-weight: 900;
}

.black-gray {
    color: #aaa;
    font-size: 14px;
}

.left p {
    color: #999;
    font-size: 18px;
}

.left > div {
    margin: 10px 0px;
}

.left a {
    color: #00d;
    margin-right: 5px;
}

.left i {
    margin: 0px 2px;
    font-size: 14px;
}

.format {
    margin: 10px 0px;
}

.format input {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.format i {
    background-color: #eee;
    color: #aaa;
    font-size: 5px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.red-price > p {
    color: #e00;
}

.red-price b {
    font-size: 24px;
}

.add-cart {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    padding: 15px;
    
}

.add-cart select {
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 18px;
}

.cart-btn{
    flex-grow: 1;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: #c44;
    color: #fff;
    font-size: 20px;
}

.cart-btn i {
    margin: auto auto;
}

.features {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F9FAFC;
    padding: 20px 10px;
}

.features a {
    width: 50%;
    margin: 10px 0px;
}

.features i {
    font-size: 10px;
    color: #0052CC;
    border: 1px solid #0052CC;
    border-radius: 50%;
    padding: 3px;
}

.features b {
    font-size: 14px;
}

.extra-btn {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    justify-content: space-around;
}

.extra-btn button {
    font-size: 20px;
    background-color: #fff;
    color: #766;
    border: none;
    box-shadow: 0px 0px 8px #999;
    padding: 10px;
}

.extra-btn i {
    font-size: 16px;
}

.description-text {
    padding: 20px;
}

.desc {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #F9FAFC;
}

.desc p {
    max-width: 1200px;
    margin: 0 auto;
    color: #666;
}

.specifications{
    margin-top: 20px;
    font-size: 20px;
}

.specifications li {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.specifications span {
    display: inline-block;
    width: 20%;
    color: #444;
}

.rev-head {
    margin-top: 50px;
}

.rev-title {
    margin: 0px;
    margin: auto 0px;
}

.rev-head button {
    margin: 0px 20px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background-color: #4456cc;
    border: none;
    border-radius: 5px;
}

.reviews {
    margin-top: 25px;
}

.more-rev {
    width: 100%;
    text-align: left;
    display: inline-block;
    padding-top: 40px;
    color: #0052CC;
}

.reviews li {
    color: #888;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.reviews li > span {
    padding: 10px 20px;
}

.back-review {
    background-color: #F9F9F9;
    padding: 10px 20px;
}

.back-review p {
    color: #555;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.demo {
    width: 100%;
}

/* Slider styles */
#book-slider {
    position: fixed;
    top: 5%;
    right: 10%;
    background-color: white;
    width: 80%;
    height: 80%;
    z-index: 10;
    display: none;
    box-shadow: 0px 0px 2px #999;
    border-radius: 10px;
}

#book-slider .container {
    background-color: white;
}

.mySlides img {
    max-width: 300px;
}

#close-books {
    z-index: 10;
}