body {
    direction: ltr;
}

.contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    padding: 20px;
}



#search-form i {
    position: absolute;
    font-size: 25px;
    right: 10px;
    top: 5px;
    color: gray;
}

#news h3 {
    
    text-align: left !important;
}