@media screen and (max-width: 1080px) {
    .search-tags {
        display: none !important;
    }

    .top-bar i {
        display: none;
    }

    .top-links {
        display: block;
    }

    #news {
        display: flex;
        justify-content: space-around;
        justify-items: center;
    }

    #news h3 {
        border: none;
        display: inline-block;
        margin: auto 0;
        flex-grow: 1;
    }

    #news form {
        flex-grow: 3;
        flex-direction: row;
        justify-content: space-around;
        background-color: #333;
    }

    #news form input {
        width: 70%;
    }

    .footer-lists {
        flex-wrap: wrap;
    }

    .footer-lists li {
        display: none;
    }

    .footer-lists > div {
        width: 50%;
    }

    .contact {
        position: static;
    }

    .shopping-cart {
        padding: 20px;
    }

    /* Details Page */
    .book-info {
        flex-direction: column;
        align-items: center;
    }

    .book-info > div {
        width: 70% !important;
    }
}

@media screen and (max-width: 860px) {
    .register {
        flex-direction: column;
        overflow-y: scroll;
    }

    .register > div {
        width: 100% !important;
    }

    .sign-up {
        width: 100%;
    }

    .log-in {
        width: 100%;
    }

    .top-bar {
        display: none;
    }

    .header-main {
        justify-content: center;
        margin: 10px 10px;
    }

    .header-main .list {
        display: inline-block;
    }

    #search-form {
        margin: 0 5px;
    }

    #logo {
        height: 40px;
    }

    .header-main i {
        font-size: 14px;
    }

    #news h3 {
        display: none;
    }

    .footer-lists > div {
        width: 100%;
    }

    .contact {
        width: 100%;
        display: flex;;
        justify-content: space-between;
    }

    .footer-bottom ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom div {
        margin-top: 10px;
        text-align: center;
    }

    .shopping-cart {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .cart-body {
        width: 100% !important;
        padding: 20px ;
    }
    
    .cart-price {
        width: 100% !important;
        padding: 20px ;
    }

    .product .row {
        flex-direction: column;
        align-items: center;
    }

    .product img {
        width: 200px !important;
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 400px) {
    #news form {
        padding: 0px !important;
    }

    #news input {
        font-size: 20px !important;
        width: 150px !important;
    }

    /* Details Page */

    .book-info > div {
        width: 90% !important;
    }
}