#pop {
    display: none;
    position: fixed;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: white;
}

.register {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.register h2 {
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    border-color: #aaa;
    font-size: 24px;
}

hr {
    width: 100%;
    margin-bottom: 40px;
}

.hr {
    height: 5px;
    background-color: #D4050B;
}

.register > div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log-in , #sign-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#log-in > p , #sign-up > p {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    color: gray;
}

.register form > * {
    margin-bottom: 16px;
}

input{
    width: 100%;
    font-size: 24px;
    height: 40px;
    background-color: #EFF2F7;
    border-radius: 8px;
    border: none;
    outline: none;
}

input[type = "tel"] {
    width: 50%;
}

input[type = "checkbox"] {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

.mobile {
    display: flex !important;
    justify-content: center !important;
}

.wide-btn {
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
}

.new-btn {
    font-size: 24px;
    background-color: white;
    border-radius: 4px;
    padding: 15px 50px;
    border: none;
    box-shadow: 0px 0px 12px gray;
}

.now-btn {
    background-color: #D4050B;
    color: white;
}

select {
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
    outline: none;
}

.check-text {
    font-size: 20px;
    color: gray;
}