:root {
    --circle-defalut: #ccc;
    --circle-active: #CF070E;
    direction: rtl;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;
}

.center {
    margin: 0 auto;
}

.progress {
    position: relative;
    z-index: 20;
    width: 80%;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.active {
    color: #fff !important;
    background-color: var(--circle-active) !important;
    border-color: var(--circle-active) !important;
}

#line {
    z-index: -1;
    content: '';
    background-color: #CF070E;
    height: 5px;
    width: 0%;
    position: absolute;
    right: 0;
    top: 50%;
}

.circle {
    z-index: 1;
    border: 3px solid #CF070E;
    border-radius: 100%;
    background-color: #eee;
    color: #CF070E;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 20px;
    background-color: #CF070E;
    width: 80px;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    border: none;

}

.mt {
    margin-top: 10px;
}

/* The payment steps style is here */

.steps-container {
    display: flex;
}

.gap {
    gap: 30px;
}

[id^="step"] {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 2px #333;
    border-radius: 10px;
    padding: 40px 0px;
}

[id^="step"] input {
    width: 50%;
    font-size: 24px;
    border-radius: 8px;
    background-color: #eee;
    outline: none;
    border: none;
    padding: 10px;
}

.steps label {
    font-size: 24px;
}

.date {
    justify-content: center;
    margin: 20px;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.date p {
    font-size: 22px;
}

.confirm {
    width: 50%;
    box-shadow: 0px 0px 2px #333;
    padding: 30px;
    border-radius: 10px;
}

#front {
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #fff;
}